{% extends 'base.html.twig' %}

{% block title %}AB Test - list{% endblock %}
{% block header %}AB Test - list{% endblock %}

{% block content %}
	<div class="row mb-3">
		<div class="col">
			Tests: {{ stats.total }}
			|
			A: {{ stats.aCount }}
			|
			B: {{ stats.bCount }}

			<a href="{{ path('app_ab_test_create') }}" class="btn btn-secondary btn-sm float-end">add new</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="rounded-3 border border-dark p-1 table-responsive">
				<table class="table table-light table-striped table-hover mb-0">
					<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col" class="d-none d-sm-table-cell">User</th>
						<th scope="col">Patient</th>
						<th scope="col">Patient Identifier</th>
						<th scope="col">Ab Test</th>
						<th scope="col" class="d-none d-sm-table-cell">Created At</th>
					</tr>
					</thead>
					<tbody>
					{% for row in list %}
					<tr>
						<th scope="row">{{ row.id }}</th>
						<td class="d-none d-sm-table-cell">{{ row.user.name }}</td>
						<td>{{ row.patient }}</td>
						<td>{{ row.patientIdentifier }}</td>
						<td>{{ row.abTest ? 'A' : 'B' }}</td>
						<td class="d-none d-sm-table-cell">
							<small>
								{{ row.createdAt|date('Y-m-d H:i') }}
							</small>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
